.container{
    align-items: center;
    height: auto;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 50px;
    padding-top: 10px;
}

.head{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}
.list{
    display: flex;
    gap: 10px;
    font-size: 20px;
    margin-bottom: 50px;
}
.list div{
    height: auto;
    flex: 1;
}
.mushroom{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.carrots{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.beans{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.list2{
    justify-content: center;
    display: flex;
    gap: 10px;
    font-size: 20px;
    margin-top: 10px;
}
.list2 div{
    flex: 1;
}
.tomato{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.broccoli{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.corn{
    align-items: center;
    display: flex;
    flex-direction: column;
}